.container {
  margin: 3em auto;
  max-width: 750px;
}

.header-frame {
  margin: 0 10px 0 0;
}

.projects-container {
  display: flex;
  flex-direction: column;
}

.project-frame {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0 0 20px 0;
}

.project-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-img a {
  display: flex;
}

.project-img img {
  object-fit: contain;
  max-width: 250px;
  max-height: 250px;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px 0 10px 15px;
}
.project-info h4 {
  color: #118ab2;
  margin: 0;
}
.project-info a {
  color: #118ab2;
}

.tag-list ul {
  padding: 0;
  margin: 0;
}

.tag-list ul li {
  display: inline;
  list-style: none;
}

.tag-idx-0 {
  color: #05b384; /* green */
}

.tag-idx-1 {
  color: #ffc847; /* yellow */
}

.tag-idx-2 {
  color: #ef476f; /* pink */
}

.tag-idx-3 {
  color: #118ab2; /* blue */
}

@media only screen and (max-width: 600px) {
  .project-img {
    display: none;
  }

  .project-info {
    margin: 0 10px 0 0;
    padding: 0;
  }
}

@media only screen and (max-width: 750px) {
  .header-frame {
    margin: 0 10px 0 0;
  }
}
